@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to PatientTracker. Streamlining care management so you can focus on what matters most - your patients.</a>.</p>
    <img src="~/images/welcome.jpg" alt="welcome" style="max-width: 800px; width: 100%; height: auto; margin-top: 20px;" />
</div>
